@import url('./tokens.css');

.container-home{
    display: flex;
    flex-direction: column;
    gap: var(--space-ml);
    padding: var(--space-ms);
}

.subtitulo-home{
    font-size: 2rem;
    font-weight: 600;
}

.grupo-input{
    display: flex;
}

#input-home{
    width: 90%;
    height: 30px;
    padding-left: var(--space-l);
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
}

#icone-home{
    position: absolute;
    color: var(--cor-terciaria);
    padding-left: var(--space-xs);
    width: 30px;
    height: 30px;
    border-radius: 3px 0 0 3px;
}

#btn-home{
    background-color: var(--cor-primaria);
    height: 30px;
    width: 30px;
}

.categorias-home{
    display: flex;
    flex-direction: column;
    gap: var(--space-ms);
}
.categoria-lista{
    display: grid;
    grid-template-columns: 170px repeat(auto-fill, 170px);
    gap:var(--space-s);
    list-style-type: none;
}
.lista-categoria{
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
    width: 170px;
    list-style-type: none;
    height: 40px;
    text-align:center;
    padding: var(--space-ms);
    cursor: pointer;
}

.home-atencao{
    color: var(--cor-terciaria);
}