@import url('./tokens.css');

.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 12%;
    position: fixed;
    bottom: 0;
    width:380px;
    height: 60px;
    border-top: 1px solid var(--cor-terciaria);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-terciaria);
    padding-bottom: var(--space-m);
    gap: var(--space-xl);
}
.navbar-item{
    text-decoration: none;
    color: var(--cor-terciaria);
}
.navbar-item__icon{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 42px;
    font-size: 1.2rem;
}

.navbar-item:hover{
    border-top: 2px solid var(--cor-primaria);
}
