@import url('./tokens.css');

.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 12%;
    position: fixed;
    bottom: 0;
    flex: 0 0 auto;
    width:380px;
    height: 70px;
    border-top: 1px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: var(--branco);
    padding-bottom: var(--space-m);
    gap: var(--space-xxl);
}
.navbar-item{
    text-decoration: none;
    color: var(--branco);
    font-family: 'system-ui', sans-serif;
}
.navbar-item__icon{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 40px;
    font-size: 1.2rem;
}

.navbar-item:hover{
    border-top: 2px solid var(--cor-secundaria);
}
